.mt{
    text-decoration: none;
    padding: 2px 4px;
    margin: 0 1px;
    
    height: 20px;
    white-space:nowrap;

    color: rgba(255,255,255,0.1);
    background-color: rgba(66,66,66,0.1);
    transition: all .4s;

}
.mg{display: flex;margin-left: 2px;}
.ma{

    display: flex;
    overflow-x: auto;
}
.menu{

    display: flex;
    bottom: 0;
    height: 20px;
    width: 100%;
    text-align: center;
    font-family: monospace;    
    transition: all .2s;
    background-color: rgba(77,77,77,0.1);
    justify-content: space-between;
}

.mt:hover{
    background-color: rgba(66,66,66,0.9);
    color: white;
    
}

/* 
    .menu
        .ma
            a.mt
            a.mt
            ~
            
        .mg
            a.mt
            a.mt
            ~

            
*/
